# ignore everything
*

# but keep these so the repo can track them
!.gitignore
!.gitattributes
!app-ontology.rdf
!nodered-urdf/
!nodered-urdf/**
!github-issues-to-jsonld/
!github-issues-to-jsonld/**
!discourse-forum-to-jsonld/
!discourse-forum-to-jsonld/**
!flows-json-to-jsonld/
!flows-json-to-jsonld/**
!experiments/
!experiments/**
!nodered-user-application-ontology/
!nodered-user-application-ontology/**
!isFlattened/
!isFlattened/**
!doFlatten/
!doFlatten/**
!doCompress/
!doCompress/**
!README.md
